registry=https://registry.npmmirror.com
#@cybertrans:registry=http://nexus.ittx.com.cn/repository/npm-public/
#registry=http://nexus.ittx.com.cn/repository/npm-public/
auth-type=legacy
#always-auth=true
